.otp .navbar {
  border-radius: 0;
  background-color: #444;
}

.otp .navbar .container {
  margin-left: 0;
}

.otp .navbar-brand {
  padding: 7px 10px;
}

.otp .navbar-title {
  color: #fff;
  font-size: 24px;
  padding-top: 7px;
}

.otp.mobile .navbar-title {
  padding-top: 2px;
}

.main-row {
  position: fixed;
  top: 52px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}

.sidebar {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.map-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.date-time-preview {
  margin-top: 16px;
}

.date-time-selector {
  margin-top: 20px;
}
