.row {
  position: fixed;
  top: 52px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}

.sidebar {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.map-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a.header, a.step, .intermediate-stops a  {
  color: inherit;
  text-decoration: none;
}

.step {
  width: 100%;
}
