.otp .navbar {
  border-radius: 0;
  background-color: #FFE500;
}

.otp .navbar .container {
  margin-left: 0;
  width: 100%;
}


.otp .navbar .navbar-header {
  width:100%
}

.otp .navbar-brand {
  padding: 7px 10px;
}

.otp .navbar-title {
  color: #25303D;
  font-size: 24px;
  padding-top: 7px;
}

.otp.mobile .navbar-title {
  padding-top: 2px;
}

.main-row {
  position: fixed;
  top: 52px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}

.sidebar {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 3px 0px 12px #00000052;
  z-index: 1000;
}

.map-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.login-link {
  text-align: right;
  width: 100%;
  position: absolute;
  right: 13px;
  top: 16px;
  text-decoration: underline;
  font-weight: bold;
}