@import url(node_modules/bootstrap/dist/css/bootstrap.min.css);

@import url(https://unpkg.com/leaflet@1.0.3/dist/leaflet.css);
@import url(node_modules/transitive-js/lib/transitive.css);

@import url(lib/components/admin/call-taker.css);
@import url(lib/components/app/app.css);
@import url(lib/components/map/map.css);
@import url(lib/components/form/form.css);
@import url(lib/components/narrative/narrative.css);
@import url(lib/components/narrative/default/itinerary.css);
@import url(lib/components/mobile/mobile.css);
@import url(lib/components/user/nav-login-button.css);
@import url(lib/components/viewers/viewers.css);

@import url(lib/bike-rental.css);

@import url(react-sliding-pane/dist/react-sliding-pane.css);

/* Hide IE/Edge clear button in text input fields. */
input[type="text"]::-ms-clear {
  display: none;
}

/* New app menu */
.app-menu-icon {
  width: 21px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  transition: all 1s ease;
  top: 16px;
}

@media only screen and (max-width: 768px) {
  .app-menu-icon {
    margin-left: 15px;
  }
}

.menu-top-line,
.menu-middle-line,
.menu-bottom-line,
.menu-left-x,
.menu-right-x {
  border-bottom: 3px solid #ffffff;
  transition: all 0.5s ease;
}

.menu-left-x {
  transform: rotate(45deg);
  top: 7px;
  position: relative;
}

.menu-right-x {
  transform: rotate(-45deg);
  bottom: 5px;
  position: relative;
}

.slide-pane {
  transition: all 0.2s ease-in-out;
}

.slide-pane_from_left {
  margin: 52px auto 0 0;
}

.slide-pane__header,
.slide-pane__close {
  display: none;
}

.slide-pane__content {
  padding: 6px 0;
}

.app-menu {
  margin: 0;
  padding: 0;
}

.app-menu li {
  list-style-type: none;
  margin: 1rem 2rem;
  cursor: pointer;
}

.app-menu li img {
  width: 25px;
  margin-right: 2rem;
}

.app-menu li a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

/* increase icon size */
.app-menu li a .fa,
.expand-submenu-button span .fa {
  font-size: 2rem;
}

.app-menu span:not(.expand-menu-chevron) {
  margin-right: 2rem;
}

.menu-item:hover *,
.app-menu li a span *:hover {
  color: #4c97f5;
}

.expand-menu-chevron {
  margin-right: -2rem;
}

.dropdown-header {
  font-size: inherit;
  line-height: normal;
  color: inherit;
  white-space: nowrap;
}

.expand-submenu-button a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  border: none;
  outline: none;
}

.sub-menu-container {
  border-top: 1px solid #cccccc;
}

.sub-menu-container li a {
  margin-left: 2rem;
}

.sub-menu-container li a span {
  color: inherit;
}

.app-menu-divider::after {
  content: "";
  display: block;
  height: 1px;
  background: #ccc;
  margin: 1rem;
  width: 200%; /* ensures the line extends to the edge of the pane */
}

/* Buttons */

button.header,
button.step,
.clear-button-formatting {
  background: transparent;
  color: inherit;
  border: 0;
  text-align: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.clear-button-formatting:active {
  background: none;
  box-shadow: none;
}

.clear-button-formatting:focus {
  background: none;
}

.clear-button-formatting:hover {
  background: none;
}

button.header,
button.step {
  width: 100%;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-container .leaflet-top {
  /* we need to override this z-index so that the +/- map controls appear below
  the geocoder search results */
  z-index: 999;
}
