# GitHub Action to automate the identification of common misspellings in text files.
# https://github.com/codespell-project/actions-codespell
# https://github.com/codespell-project/codespell
name: codespell
on: pull_request
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          # skip git, yarn, pixel test script, and i18n non-english resources.
          # Also, the a11y test file has a false positive and the ignore list does not work
          # see https://github.com/opentripplanner/otp-react-redux/pull/436/checks?check_run_id=3369380014
          skip: ./.git,yarn.lock,./a11y/a11y.test.js,./percy/percy.test.js,./i18n/fr*
