name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # This allows us to work with the repository during the lint step
          fetch-depth: 2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install npm packages using cache
        uses: bahmutov/npm-install@v1
      - name: Copy example config
        run: cp example-config.yml config.yml
      - name: Lint code
        # Move everything from latest commit back to staged
        run: git reset --soft HEAD^ && yarn lint
        # For our info, lint all files but don't mark them as failure
        # TODO: remove this once project is typescripted
      - name: Lint all code (ignoring errors)
        run: yarn lint-all || true
      - name: Run tests
        run: yarn jest
      - name: Build example project
        run: yarn build
      - name: Run a11y tests
        run: yarn a11y-test

      # at this point, the build is successful
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release
