name: Percy

on:
  push:
    branches:
      - master
      - dev
  pull_request:

jobs:
  run-pixel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # This allows us to work with the repository during the lint step
          fetch-depth: 2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install npm packages using cache
        uses: bahmutov/npm-install@v1
      - name: Build OTP-RR
        # Artifacts are shared between desktop and mobile tests (but not call-taker).
        run: yarn build
        env:
          YAML_CONFIG: ../percy/har-mock-config.yml
          JS_CONFIG: ./percy/har-mock-config.js
      - name: Take Percy Snapshots (Desktop + Mobile)
        run: npx percy exec -- npx jest percy/percy.test.js --force-exit
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_OTP2 }}
          OTP_RR_UI_MODE: normal
  run-pixel-tests-calltaker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # This allows us to work with the repository during the lint step
          fetch-depth: 2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install npm packages using cache
        uses: bahmutov/npm-install@v1
      - name: Download OTP2 config file
        run: curl $PERCY_OTP2_CONFIG_URL --output /tmp/otp2config.yml
        env:
          PERCY_OTP2_CONFIG_URL: ${{ secrets.PERCY_MOCK_OTP2_GEOCODER_CALLTAKER_CONFIG }}
      - name: Build OTP-RR Calltaker
        # Calltaker has a separate config file, so another build should be produced.
        run: yarn build
        env:
          YAML_CONFIG: /tmp/otp2config.yml
          JS_CONFIG: ./percy/har-mock-config-call-taker.js
      - name: Take Percy Snapshots (Calltaker)
        run: npx percy exec -- npx jest percy/percy.test.js --force-exit
        env:
          # Calltaker has a separate key because the calltaker-specific snapshots are different.
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_CALL_TAKER_OTP2 }}
          OTP_RR_UI_MODE: calltaker
